<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <!-- redis Start "password@192.168.31.42:6379";    -->
    <add key="redisHost" value="cheng1993@118.24.105.20:6379" />
    <!--redis end-->
  </appSettings>
</configuration>